name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
#dckr_pat_3cPyUe9F4Nn9A5CGwe0NrhNh-j8
    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag cedje/teammanager:team

    - name: Push image
      run: docker push cedje/teammanager:team



    - name: Build with Maven
      run: mvn package

    - name: Run tests
      run: mvn test
#    - name: Run tests
#      run: docker run cedje/teammanager:team sh -c "cd src/test/java/com/example/teammanagerapi/TeamManagerApiApplicationTest"
