name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      #run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      run: docker build . --file Dockerfile --tag my-image-name:image-github
    - name: Docker Login
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      uses: docker/login-action@v2.1.0
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
#         registry: # optional
        # Username used to log against the Docker registry
        username: cedje
        # Password or personal access token used to log against the Docker registry
        password: dckr_pat_As-i8kXvtFIRJswlouCBgvBMVOQ
        # Specifies whether the given registry is ECR (auto, true or false)
#         ecr: # optional, default is auto
        # Log out from the Docker registry at the end of a job
#         logout: # optional, default is true
    - name: Run tests
      run: docker run my-image-name:image-github npm test